 <footer class="section footer-section">
        <div class="footer">
            <div class="footer-main">
                <div class="w-layout-blockcontainer container w-container">
                    <div class="footer-main-wrapper">
                        <div class="footer-menu-wrapper">
                            <a href="/" aria-current="page" class="footer-logo-wrapper w-inline-block w--current">
                                <img src="https://i.ibb.co/d0gsJjSM/Vector.png" loading="lazy" alt="AIQ" class="footer-logo"></a>
                            <div class="footer-menu">
                                <a href="/about" class="footer-menu-item">About</a>
                                <a href="/careers" class="footer-menu-item">Careers</a>
                                <a href="/blog" class="footer-menu-item">Blog</a>
                                <a href="/contact-us" class="footer-menu-item">Contact Us</a></div>
                        </div>
                        <div class="social-icons-wrapper">
                            <a href="https://www.linkedin.com/" target="_blank" class="social-icon-wrapper w-inline-block">
                                <img src="https://cdn.prod.website-files.com/667e6175dc1527773a7c22b6/667e6175dc1527773a7c2319_LinkedIn.svg" loading="lazy" alt="LinkedIn" class="icon-size-20"></a>
                                <a href="https://twitter.com/" target="_blank" class="social-icon-wrapper w-inline-block">
                                    <img src="https://cdn.prod.website-files.com/667e6175dc1527773a7c22b6/667e6175dc1527773a7c2317_Twitter%20(X).svg" loading="lazy" alt="Twitter (X)" class="icon-size-20"></a>
                                    <a href="https://facebook.com/" target="_blank" class="social-icon-wrapper w-inline-block">
                                        <img src="https://cdn.prod.website-files.com/667e6175dc1527773a7c22b6/667e6175dc1527773a7c2318_Facebook.svg" loading="lazy" alt="Facebook" class="icon-size-20"></a>
                                    </div>
                    </div>
                </div>
            </div>
            <div class="footer-legal">
                <div class="w-layout-blockcontainer container w-container">
                    <div class="footer-legal-content">
                        <div class="medium-m footer-text">© 2024, All Rights Reserved</div><a href="/licenses" class="medium-m footer-link">Licenses</a>
                    </div>
                </div>
            </div>
        </div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=667e6175dc1527773a7c22b6" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.prod.website-files.com/667e6175dc1527773a7c22b6/js/webflow.5ca82aadf.js" type="text/javascript"></script>

    </footer>
