<!-- _includes/header.html -->
<header class="site-header">
   <nav data-w-id="6e1e4826-c729-4186-47fd-768e4d3370fb" class="nav" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <div class="w-layout-blockcontainer container vertical-flex-center w-container">
            <div class="nav-content-wrapper">
                <a href="/" aria-current="page" class="nav-logo-wrapper w-inline-block w--current">
                    <img src="https://i.ibb.co/0ym2G5fv/Vector-2.png" loading="lazy" alt="AIQ" class="nav-logo"></a>
                <div class="nav-menu-wrapper">
                    <div class="nav-menu">
                        <a href="/about" class="nav-menu-item">About</a>
                        <a href="/careers" class="nav-menu-item">Careers</a>
                        <a href="/blog" class="nav-menu-item">Blog</a></div>
                </div>
                <div class="nav-button-wrapper"><a href="/contact-us" class="button black-primary-small w-button">Contact Us</a></div>
                <div data-hover="false" data-delay="0" class="hamburger-menu w-dropdown">
                    <div class="hamburger-menu-toggle w-dropdown-toggle" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                        <img src="https://cdn.prod.website-files.com/667e6175dc1527773a7c22b6/667e6175dc1527773a7c231a_List.svg" loading="lazy" alt="Menu" class="hamburger-image"></div>
                    <nav class="hamburger-content w-dropdown-list" id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                        <div class="mobile-menu">
                            <a href="/about" class="nav-menu-item" tabindex="0">About</a>
                            <a href="/careers" class="nav-menu-item" tabindex="0">Careers</a>
                            <a href="/blog" class="nav-menu-item" tabindex="0">Blog</a></div>
                            <a href="/contact-us" class="button black-primary-small w-button" tabindex="0">Contact Us</a>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</header>
